/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

.catchyfont {
  font-family: "Black Ops One", cursive;
  // color: #16f529;
  text-shadow: 0 0 1.5rem white;
  font-size: 2rem;
}
.catchyfont-s {
  font-family: "Black Ops One", cursive;
  // color: #16f529;
  text-shadow: 0 0 1.5rem white;
  font-size: 1rem;
}
