// .create-registration {
//   background-image: url("../../../../assets/workout-thehulk.gif");
//   position: fixed;
//   background-repeat: no-repeat;
//   width: 100%;
//   background-position: center;
//   height: 100%;
//   top: 0px;
//   left: 0px;
// }
.center-div{
  margin: auto;
  width: 50%;
  text-align: left;
}
